<table class="listtable">
   <tr>
      <th>Fast name</th>
      <th>Second name</th>
      <th>Last name</th>
      <th>Username</th>
      <th>role</th>
      <th>Dept</th>
      <th>Email</th>
      <th>PhoneNo</th>
      
     <!-- <th>Action</th>-->
   </tr>

         {{#each personInfo}}
       <tr>
         <td>{{this.fname}}</td>
         <td>{{this.sname}}</td>
         <td>{{this.lname}}</td>
         <td>{{tthis.username}}</td>
         <td>{{this.dept}}</td>
         <td>{{this.email}}</td>
         <td>{{this.phoneNo}}</td>
         <td>{{this.role}}</td>
       </tr>
       {{/each}}   
   </tr>
   <tr>
   </tr>
</table>