<table class="listtable">
   <tr>
      <th>Name</th>
      <th>dept</th>
      <th>status</th>
      <th>meal</th>
      <th>price</th>
   </tr>

         {{#each products}}
       <tr>
         <td>{{this.name}}</td>
         <td>{{this.dept}}</td>
         <td>{{this.status}}</td>
         <td>{{this.item}}</td>
         <td>ksh.{{this.price}}</td>
       </tr>
       {{/each}}   
   </tr>
   <tr>
   </tr>
</table>