<table class="listtable">
   <tr>
      <th>Name</th>
      <th>dept</th>
      <th>Meal</th>
      <th>price</th>
       <th>Date</th>
      <th>Status</th>
      <th>Action</th>
   </tr>

         {{#each products}}
      <!-- <div  class="product">
         <h2>Name : {{this.name}}</h2>
          <h3>{{this.item}} {{this.price}}</h3>
          <h4>{{this.dept}}</h4>
       </div>-->
       <tr>
         <td>{{this.name}}</td>
         <td>{{this.dept}}</td>
         <td>{{this.item}}</td>
         <td>{{this.price}}</td>
         <td>{{this.date}}</td>
         <td>{{this.status}}</td>
         <td class="button-group">
            <form action="/ktchnnmarkdeliverd" method="post">
               <!--<input type="hidden" name="name" id="name" value="{{this.name}}">
               <input type="hidden" name="dept" id="dept" value="{{this.dept}}">
               <input type="hidden" name="price" id="price" value="{{this.price}}">-->
               <input type="hidden" name="orderId" id="orderId" value="{{this.id}}">
               <button type="submit">Mark as deliverd</button>
            </form>
            <form action="" method="post">
             <!--  <input type="hidden" name="name" id="name" value="{{this.name}}">
               <input type="hidden" name="dept" id="dept" value="{{this.dept}}">
               <input type="hidden" name="price" id="price" value="{{this.price}}">
               <input type="hidden" name="orderId" id="orderId" value="{{this.id}}">-->
               <button type="submit">reject</button>
            </form>
         </td>
       </tr>
       {{/each}}   
       <h1>Total : {{total}}</h1>
   </tr>
   <tr>
     <!-- {{#each deptsList}}
      <select name="dept" id="dept">
         <option value="{{this.deptName}}">{{this.deptName}}</option>
      </select>
      <td>{{this.deptName}}</td>
      {{/each}}  -->
   </tr>
</table>