<div id="products">
        <h3>Total patients in {{wardName}}: &nbsp; <span class="span" >{{total}}</span></h3>
        {{#each products}}
        <div class="product">
            {{#if this.image}}
            <img src="data:{{this.image.contentType}};base64,{{this.image.data}}" alt="{{this.name}}" />
            {{/if}}
            <h2><span style="margin-right: 10px; color :rgb(123, 255, 0)">{{this.name}}</span>  <span>Ksh{{this.price}}</span></h2>
            <form action="/wardorder" method="post">
                <input type="hidden" name="name" value="{{this.name}}">
                <input type="hidden" name="price" value="{{this.price}}">
                <input type="Number" name="total" placeholder="Enter the number of patients" required>
                <button type="submit">Order</button>
            </form>
        </div>
        {{/each}}
    </div>


